@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
}

@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    40%,
    60% {
        transform: translate3d(0, 60%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.animated-title {
    color: #222;
    height: 400px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 90vmin;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.intro {
    padding-bottom: 60px;
    background: rgb(243, 245, 255);
}

.animated-title>div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.animated-title>div div {
    font-size: 12vmin;
    padding: 30px;
    position: absolute;
}

.animated-title>div div span {
    display: flex;
    justify-content: center;
}

.animated-title>div.text-top {
    top: 0;
    display: flex;
    justify-content: center;
    height: 200px;
}

.animated-title>div.text-top div {
    animation: showTopText 1.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}

.animated-title>div.text-bottom {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.animated-title>div.text-bottom div {
    animation: showBottomText 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform: translate(0, -100%);
    font-size: 40px;
}

.text-top-hello {
    font-size: 30px;
}

.text-top-name {
    font-size: 50px;
}

.btns {
    position: relative;
    padding-top: 300px;
}

.button-text:hover {
    color: white;
}


/* Задаем высоту большим блокам, чтобы у нас на странице получится скролл */

.element-big {
    width: 100%;
}

.element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
}

.element-animation.element-show {
    opacity: 1;
    transition: opacity 1s;
}

.img-style img {
    width: 70%;
}

.img-style {
    padding: 50px 100px;
}

.arrow-down {
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);
}

.mail-gif {
    width: 50px;
    height: 50px;
}

.main-about {
    font-size: 80px;
}

.projects-img {
    min-width: 100px;
    min-height: 100px;
}

.second-preview {
    display: flex;
}

.col2 {
    margin-left: -70px;
}

.about-main h2 {
    font-size: 38px;
}

.about-main h4 {
    font-size: 18px;
}

.underline-one {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    /* Убираем подчеркивание */
}

.underline-one:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.underline-one:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.5s;
}

h2 {
    font-size: 64px;
}

p {
    font-weight: normal;
    font-size: 16px;
}

.project-description {
    padding: 120px 60px;
}

.about-projects {
    margin: 60px 0;
    text-align: center;
}

.my-photo {
    min-width: 450px;
    max-height: 450px;
}

.my-photo-container {
    display: flex;
    justify-content: center;
}

.about-main {
    padding-top: 50px;
}

.see-projects-button {
    margin-left: 50px;
    margin-bottom: 50px;
}

.second-project {
    display: inline-block;
}

footer .social-links a {
    color: black;
    font-size: 28px;
}

footer .social-links {
    padding-bottom: 20px;
}

@media (max-width:980px) {
    .projects-img {
        display: flex;
        justify-content: center;
    }
    .intro {
        padding-top: 40px;
    }
    .animated-title {
        margin-top: 170px;
    }
    .text-top-name {
        text-align: center;
        font-size: 36px;
    }
    .text-top-hello {
        font-size: 27px;
    }
    .preview {
        margin: 20px;
    }
    .second-preview {
        display: flex;
        flex-flow: wrap;
    }
    .animated-title>div.text-bottom div {
        text-align: center;
        font-size: 28px;
    }
    .col1 {
        order: 2;
    }
    .col2 {
        order: 1;
        align-items: center;
        margin-bottom: 30px;
    }
    .projects-img {
        margin-bottom: 30px;
        min-width: 500px;
    }
    .media-img1 {
        margin-left: 0px;
    }
    .media-img2 {
        margin-left: 10px;
    }
    .element-animation {
        display: flex;
        justify-content: center;
    }
    .project-description {
        padding: 0;
        text-align: center;
        background: rgb(248, 249, 255);
        padding: 50px;
    }
    .about-main {
        padding: 0;
        text-align: center;
    }
}